/** {*/
/*  outline: green solid 1px;*/
/*}*/

h1 {
  padding: 10px 40px;
}

.info {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  right: 0;
  margin-right: 10px;
  width: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  display: inline;
}

li {
  margin: 5px 0;
  width: 70%;
  border-bottom: #ff8d00 1px solid;
  padding-bottom: 5px;
}

@media (max-width: 680px) {
  .info {
    display: none;
  }
  li {
    width: 100%;
  }

  ol {
    padding: 0 40px;
  }

}
