/** {*/
/*  outline: green solid 1px;*/
/*}*/

h1 {
  padding: 10px 25px 10px 40px;
  margin: 0;
}

.info {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  right: 0;
  margin-right: 10px;
  width: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

pre {
  margin: 5px auto;
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 14px;
  line-height: 20px;
}

.answer {
  background-color: #c7ffb8;
  display: none;
}

.answer_open {
  display: block;
}

.question-list {
  padding: 0 25px 0 40px;
}

.question-item {
  margin: 5px 0;
  width: 70%;
  border-bottom: #ff8d00 1px solid;
  padding-bottom: 5px;
}

.navigation-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 17px);
  grid-column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.navigation-item-link {
  text-decoration: none;
  color: #ff8d00;
  transition: .5s;
}

.navigation-item-link:hover {
opacity: .5;
}

.navigation-item-link:link  {
  color: black;
}

@media (max-width: 680px) {
  .info {
    display: none;
  }

  .question-item {
    width: 100%;
  }
  .answer {
    background-color: #eeffe9;
  }
}

.a {
  color: red;
}
