:root {
  --deg: 5deg;
  --active: #ff9311;
  --main: #ffa538;
  --second: #ffd29c;
  --answer: #fff2e1;
  --black: #000000;
  --grey: #b3b3b3;
  --menu: #ffffff;
  --range: 0%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

/** {*/
/*  outline: dodgerblue solid 1px;*/
/*}*/

.body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 40px 0 3vw;
}

.dashBoard {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--menu);
  border-bottom: var(--black) solid 1px;
  box-sizing: border-box;
  padding: 12px;
  height: 63px;
}

.dashBoard__route {
  display: flex;
}

.dashBoard__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dashBoard__fontSize {
  width: 125px;
}

#JS {
  width: 120px;
}

#JS_browser {
  width: 120px;
  margin-left: 12px;
}

h1 {
  text-align: center;
  margin: 20px;
}

.fontSize {
  margin: 5px 0 0 0;
}

input[type="range"] {
  -webkit-appearance: none;
  position: relative;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--black);
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: var(--main);
  margin-top: -6px;
  z-index: 99;
  position: relative;
  transition: 0.5s all ease;
}

input:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background: var(--grey);
}

pre {
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 20px;
  margin: 8px auto;
  font-size: 14px;
}

.answer {
  background-color: var(--answer);
  display: none;
}

.answer_open {
  display: block;
}

.question-list {
  padding: 0;
  list-style-type: none;
}

.question-item {
  border-bottom: var(--main) 1px solid;
}

.nav {
  display: flex;
  position: fixed;
  height: calc(100vh - 80px);
  top: 63px;
  bottom: 20px;
  right: 5px;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  display: block;
  height: 100%;
  text-align: center;
  line-height: 30px;
}

.navigation-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  margin-right: 1vw;
  list-style-type: none;
}

.navigation-item-link {
  text-decoration: none;
  color: var(--main);
  transition: .5s;
}

.navigation-item-link:hover {
  opacity: .5;
}

.navigation-item-link:link {
  color: black;
}

.button {
  border: none;
  background-color: var(--second);
  margin-bottom: 0;
  padding: 4px 6px;
  transition: all .5s;
}

.button:hover {
  background-color: var(--main);
}

.button:active, .button:focus {
  outline: var(--active);
  background-color: var(--active);
}

.active {
  background-color: var(--active);
}

.button::-moz-focus-inner {
  border: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  position: relative;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:before {
  position: absolute;
  content: "";
  width: var(--range);
  height: 2px;
  background: var(--grey);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--black);
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: none;
  -webkit-appearance: none;
  background-color: var(--black);
  margin-top: -5px;
  z-index: 99;
  position: relative;
  transition: 0.5s all ease;
}

#value {
  position: absolute;
  top: 2px;
  left: -20px;
  font-size: 14px;
  color: var(--black);
  transition: 0.5s color ease;
}

@media (max-width: 540px) {
  .dashBoard__item {
    display: none;
  }
}
