* {
  outline: dodgerblue solid 1px;
}

.body {
  font-family: monospace;
  margin: 40px;
}

.dashBoard {
  display: grid;
  gap: 10px;
  position: fixed;
  right: 40px;
  top: 40px;
  max-width: 140px;
}

.dashBoard:nth-child(0) {
  margin-right: 10px;
}

.fontSize {
  width: 100%;
  margin: 5px 0 0 0;
}

pre {
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 20px;
}

.answer {
  background-color: #c7ffb8;
  display: none;
}

.answer_open {
  display: block;
}

.question-list {
  padding: 0;
}

.question-item {
  border-bottom: #ff8d00 1px solid;
}

.nav {
  display: flex;
  position: fixed;
  overflow-y: scroll;
  height: 90%;
  top: 40px;
  right: 5px;
}

.navigation-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-item {

}

.navigation-item-link {
  text-decoration: none;
  color: #ff8d00;
  transition: .5s;
}

.navigation-item-link:hover {
  opacity: .5;
}

.navigation-item-link:link {
  color: black;
}

@media (max-width: 786px) {
  .dashBoard {
    display: none;
  }

  .question-item {
    width: 100%;
  }

  .answer {
    background-color: #eeffe9;
  }
}
